{% extends "aristotle_mdr/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<h1><a href="#">About: {% block item_name %}{% endblock %}</a></h1>

<ol class="breadcrumb">
    <li><a href="{% url 'aristotle:aboutMain' %}">About</a></li>
    <li><a href="{% url 'aristotle:about' '11179' %}">ISO/IEC 11179</a></li>
    {% block breadcrumbs %}
    {% endblock %}
</ol>

<blockquote>
<p>
{% block iso_quote %}{% endblock %}
</p>
<footer><cite title="Source Title">ISO/IEC 11179-6:2013 (version 3) specification.</cite></footer>
</blockquote>

{% block description %}
{% endblock %}

{% endblock %}