{% extends "aristotle_mdr/static/about_base.html" %}

{% block title %}Aristotle MetaData Registry{% endblock %}
{% block item_name %}Aristotle MetaData Registry{% endblock %}
{% block breadcrumbs %}
    <li><a href="#">About</a></li>
{% endblock %}
{% block description %}
<div class="description">
<p><strong>Aristotle is an open-source metadata registry as laid out by the requirements of the ISO/IEC 11179 specification.</strong>
</p>

<p>Aristotle represents a new way to manage and federate content built on and extending the
principles of leading metadata registries. Aristotle is a free open-source system,
built upon the <a href="https://www.djangoproject.com/">Django web framework</a> and the
mature model of the ISO/IEC 11179 standard.
As such agencies can easily run their own metadata registries while also having the ability to
extend the information model and tap into the permissions and roles of ISO/IEC 11179.
</p>

<a href="https://github.com/LegoStormtroopr/aristotle-metadata-registry/">Fork this project on Github</a>, review the
<a href="https://travis-ci.org/LegoStormtroopr/aristotle-metadata-registry/builds">continuous testing results on Travis-CI</a>
or <a href='https://coveralls.io/r/LegoStormtroopr/aristotle-metadata-registry'>review the unit-test coverage on Coveralls</a>.
<!--
For Inara - 壽
           ,     _
          / \  ,'_\
         ;   )/,' /
         |  /// ,'    ___
        _; /// /  _,""   "".
      .'      '--'          `.
     a   a    )      ,'       \ ,.
    (  v   _,'      /          ;&&
     `-^--'        :          /%%&
      _\  __) /  ___`._   __,'`""
     //_`//__/-.///________)
-->
</div>
{% endblock %}
