{% extends "aristotle_mdr/static/about_base.html" %}

{% block title %}About: Glossary Item{% endblock %}
{% block item_name %}Glossary Item{% endblock %}

{% block breadcrumbs %}
    <!-- li><a href="{% url 'aristotle:about' 'package' %}">Glossary Item</a></li -->
{% endblock %}

{% block description %}
    <p>An package is the only non ISO 11179 object within the core Aristotle MDR framework.
    </p>

    <p>
        Additionally, packages can be used to convieniently group items that need to be
    </p>
{% endblock %}
