{% extends 'aristotle_mdr/static/about_base.html' %}

{% block title %}What is a Metadata Registry?{% endblock %}

{% block content %}
<header class="row">
    <h1>
        <a href="#">What is a Metadata Registry?</a>
    </h1>
</header>
<section class="row">

<blockquote>
<p>
[A Metadata Registry (MDR)] is a database of metadata that supports the functionality of registration. ...
An MDR manages the semantics of data. Understanding data is fundamental to its design, harmonization,
standardization, use, re-use, and interchange. The underlying model for an MDR is designed to capture all
the basic components of the semantics of data, independent of any application or subject matter area.
</p>
<footer><cite title="Source Title">ISO/IEC 11179-1:2004 (version 2) documentation.</cite></footer>
</blockquote>

</section>
{% endblock %}
