{% extends 'aristotle_mdr/base.html' %}

{% block title %}About metadata standards{% endblock %}

{% block content %}
<header class="row">
    <h1 id="objectTitle"  class="pull-left">
        <a href="#">About metadata standards</a>
    </h1>
</header>
<section class="row">
<cite><a href="http://meteor.aihw.gov.au/content/index.phtml/itemId/276533">Source: Australian Institute of Health and Welfare</a></cite>
<p>The development of metadata standards improves quality, relevance, consistency and the availability of national information about the health and welfare of Australians. The drivers for standard development arise from the need for better information - whether it is statistical, administrative, clinical or other information.</p>
<p>Metadata standards describe the expected meaning and acceptable representation of data for use within a defined context. The need for consistency of meaning is vital to facilitate information sharing among primary and secondary users of the data. Much of the work involved in establishing a data collection is in the development of metadata standards to ensure comparability and consistency of the data collected and produced from the collection. Other benefits include:</p>
<h3>Consistency of content and definition</h3>
<p>If we never have to share data then there is no need to standardise. If we share data then we need to ensure that all those who need to use the data can clearly understand the meaning regardless of how the data is collected or stored. </p>
<h3>Avoid duplication and diversity of solutions</h3>
<p>Metadata standards are generally required when excessive diversity creates inefficiencies or impedes effectiveness. Metadata standards offer a means of narrowing the variety of ways information is exchanged among different groups, allowing synergy between multiple development efforts. </p>
<h3>Reduction in cost of data development</h3>
<p>Metadata standards provide a way to solve a problem that other people can use without having to start from scratch. Metadata standards provide a common and consistent platform for organisations to work, thereby simplifying adoption and implementation at the local and national levels.</p>
</section>
{% endblock %}
