{% extends 'aristotle_mdr/base.html' %}

{% load inplace_edit %}

{% block title %}Browsing Data Element Concepts based on {{ objectClass.name }}{% endblock %}
{% block content %}
<section class="unmanaged row">
    <h1>
        <a href="#">Browsing Data Element Concepts based on {{ objectClass.name }}</a>
    </h1>
<strong>About <em>{{ objectClass.name }}</em></strong>
<div id="description">
    {{ objectClass.description | safe }}
</div>
{% if items %}
<p>
    This is a complete list of all publically visible data element concepts based on the object class <em>{{ objectClass.name }}</em>.
    Click the name of any item below to see associated data element concepts.
</p>
    <dl class='browse'>
    {% for i in items %}
        <dt>
            <a href="{% url 'aristotle:browse' oc_id=objectClass.id dec_id=i.id %}-{{ i.property.name|slugify }}">{{ i.property.name }}</a>
            <small>(<a href="{% url 'aristotle:browse' oc_id=objectClass.id dec_id=i.id %}">{{ i.name }}</a>)</small>
        </dt>
        <dd>
            {{ i.description|truncatewords:20|striptags }}
        </dd>
    {% endfor %}
    </dl>
{% else %}
    <em>No data element concepts are based on this Object Class.</em>
{% endif %}
</section>

{% endblock %}
