{% extends 'aristotle_mdr/base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load aristotle_tags %}

{% block extra_head_scripts %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'aristotle_mdr/aristotle_search.less' %}" />
    <script src="{% static 'aristotle_mdr/aristotle.search.js' %}" type="text/javascript"></script>
{% endblock %}

{% block search %}{% endblock %}
{% block title %}Search{% if query %} results{% endif %}{% endblock %}
{% block content %}
    <form method="get">
        <div id="searchbar" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group">
                    <input type="text" class="form-control" value="{% ternary form.q.value form.q.value "" %}" name="q" accesskey="q"></input>
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        Search {% bootstrap_icon "search" %}
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default searchAdvanced" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><small>Advanced options:</small></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown dropdown-menu-form">
                    <a href="#" type="button" accesskey="i" class="dropdown-toggle"
                    data-toggle="dropdown">
                        Item type <span class="caret"></span>
                    </a>
                    {{ form.models }}
                </li>
                        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-form" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

            </ul>
          </div>
        </nav>
            <!-- nav id="searchAdvanced" class="col-sm-4 col-md-3 navbar navbar-default">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#searchOptions">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#" class="navbar-brand">
                    <i class="fa fa-cogs fa-fw"></i>Advanced Options
                  </a>
                </div>
                <dl class="collapse navbar-collapse" id="searchOptions">
                    {% if user.is_active %}
                    {% comment %}
                        Only logged in users have workgroups.
                        If you aren't logged in you can *only* see public items.
                    {% endcomment %}
                    <dt>Only show</dt>
                    <dd>
                        <ul>
                            <li>
                            {{ form.public_only }}
                            {{ form.public_only.label }}
                            </li>
                            <li>
                            {{ form.myWorkgroups_only }}
                            {{ form.myWorkgroups_only.label }}
                            </li>
                        </ul>
                    </dd>
                    {% endif %}
                    {% comment %}
                    {% with show=form.models.data %}
                        <dt data-toggle="collapse" accesskey="i"  data-target="#search-models"
                            {% if not show %}class="collapsed"{% endif %}>
                            Item type
                        </dt>
                        <dd id="search-models" {% if not show %}class="collapse"{% endif %}>
                            {{ form.models }}
                        </dd>
                    {% endwith %}
                    {% endcomment %}
                    {% with show=form.state.data %}
                        <dt data-toggle="collapse" data-target="#search-states"
                            {% if not show %}class="collapsed"{% endif %}>
                            State
                        </dt>
                        <dd id="search-states" {% if not show %}class="collapse"{% endif %}>
                            {{ form.state }}
                        </dd>
                    {% endwith %}
                    {% with show=form.ra.data %}
                        <dt data-toggle="collapse" data-target="#search-ras"
                            {% if not show %}class="collapsed"{% endif %}>
                            Registration Authority
                        </dt>
                        <dd id="search-ras" {% if not show %}class="collapse"{% endif %}>
                            {{ form.ra }}
                        </dd>
                    {% endwith %}
                    {% comment %}
                    <div>
                    Modified:
                    <ul></ul>
                    Custom range:
                    {{ form.startDate }}
                    </div>
                    <div>
                    Created:
                    <ul></ul>
                    Custom range:
                    {{ form.startDate }}
                    </div>
                    {% endcomment %}
                </dl>
            </nav -->
    <!-- /form -->
            <div class="col-sm-8 col-md-9">

        {% if query or page.object_list %}
            {% if page.object_list %}
                {% if form.auto_broaden_search %}
                    <div class="alert alert-warning" role="alert">
                        <p>There were no results for "{{ form.q.value }}" with your requested filters.
                        </p>
                        <p>
                            We've automatically removed the filters and re-run your search.
                        </p>
                    </div>
                {% endif %}
                <h3>Results</h3>
                <p>
                    {% if page.has_other_pages %}
                    Showing {{ page.start_index }} - {{ page.end_index }} of {{ page.paginator.count }} results.
                    {% else %}
                    Showing {{ page.paginator.count }} results.
                    {% endif %}
                </p>
                <!-- form method="post" action="{% url 'aristotle:bulkFavourite'%}">
                {% if user.is_active %}
                    {% csrf_token %}
                {% endif %} -->
                <ol start="{{ page.start_index }}"
                    class="searchResults {% ternary user.is_active 'active' '' %}">
                {% for result in page.object_list %}
                    {% if result.object.name %}
                    <li>
                        {% if user.is_active %}
                            <input type='checkbox' value='{{ result.object.id }}' title='select to add to favourites' name='favourites'></input>
                        {% endif %}
                        <a href="{% url 'aristotle:item' result.object.id %}">{{ result.object.name }}</a> ({{ result.object.get_verbose_name }})
                        <div>
                        <span class="attr">Last modified: {{ result.object.modified }}</span>
                        <span class="attr">Statuses:
                            {% for s in result.object.statuses.all %}
                                [{{ s.registrationAuthority }}: {{ s.state_name }}]
                            {% endfor %}</span>
                        {{ result.object.description|truncatewords:20|striptags }}</div>
                    </li>
                    {% endif %}
                {% empty %}
                    <li>No results found.</li>
                {% endfor %}
                </ol>
                {% if user.is_active %}
                <button class="btn btn-primary" type="submit" name="addFavourites">
                    <i class="fa fa-bookmark"></i> Add selected to favourites
                </button>
                {% endif %}
                {% if page.has_previous or page.has_next %}
                    {% if page.paginator.num_pages <= 10 %}
                    <ul class="pagination pagination-sm searchResults">
                        {% if page.has_previous %}
                            <li><a accesskey="p" href="?{% search request page.previous_page_number %}">&laquo; Previous</a></li>
                        {% endif %}
                        {% for p in page.paginator.page_range %}
                            <li><a href="?{% search request p %}">{{ p }}</a></li>
                        {% endfor %}
                        {% if page.has_next %}
                            <li><a accesskey="n" href="?{% search request page.next_page_number %}">Next &raquo;</a></li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <ul class="pagination pagination-sm searchResults">
                        {% if page.has_previous %}
                            <li><a accesskey="p" href="?{% search request page.previous_page_number %}">&laquo; Previous</a></li>
                        {% endif %}
                        {% for p in page|search_paginator:"start" %}
                            <li {% ifeq p page.number 'class="active"' %}><a href="?{% search request p %}" >{{ p }}</a></li>
                        {% endfor %}
                        {% if page.number > 6 %}
                            <li><a>...</a></li>
                        {% endif %}
                        {% for p in page|search_paginator:"middle" %}
                            <li {% ifeq p page.number 'class="active"' %}><a href="?{% search request p %}">{{ p }}</a></li>
                        {% endfor %}
                         <li><a>...</a></li>
                        {% for p in page|search_paginator:"end" %}
                            <li {% ifeq p page.number 'class="active"' %}><a href="?{% search request p %}">{{ p }}</a></li>
                        {% endfor %}
                        {% if page.has_next %}
                            <li><a accesskey="n" href="?{% search request page.next_page_number %}">Next &raquo;</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                {% endif %}
            {% else %}
                <h3>No results found.</h3>
                <p>
                    {% if form.has_spelling_suggestions %}
                        Did you mean:
                        <a href="?q={{ form.suggested_query }}">
                        {% for word,suggestion in form.spelling_suggestions %}
                            {% if suggestion %}
                                <em>{{ suggestion }}</em>
                            {% else %}
                                {{ word }}
                            {% endif %}
                        {% endfor %}
                        </a>
                    {% endif %}
                {% if form.auto_broaden_search %}
                    <div class="alert alert-warning" role="alert">
                        <p>There were no results for "{{ form.q.value }}" with your requested filters.
                        </p>
                        <p>
                            We removed the filters and re-ran your search, but there were still zero results.
                        </p>
                    </div>
                {% endif %}
                </p>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>
                Enter a query above to search the registry.
            </p>
            <ul>
            <li> Selecting a registration authority will limit search results to items registered by that authority.
            </li>
            <li> Selecting a registation state will limit search results to items that are in that state.
            </li>
            <li> Selecting both will limit search results to items that are at that state in a particular authority.
            </li>
            </ul>
            <p>
            </p>
        {% endif %}

        </div>
</form>
{% endblock %}
