{% extends "aristotle_mdr/base.html" %}
{% load staticfiles %}
{% load aristotle_tags %}
{% load compile_static %}

{% block title %}Login{% endblock %}
{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/login.less' %}" />
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h1 class="block text-center">Sign in to continue to {{ config.SITE_NAME }}</h1>
        <div class="account-wall">
            <span class="face {% ternary form.errors 'alert-danger' 'normal' %}">
              <i class="fg fa fa-user"></i>
            </span>

            <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
    {% endif %}
            <label>Username or Email:</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
              <input name="username" type="text" class="form-control" tabindex="1"
                {% if form.username.value %}
                value="{{ form.username.value }}"
                {% endif %}
                required autofocus>
            </div>
            <label>Password:</label>
            <a href="#" class="forgot" tabindex="3">(Forgotten your password?)</a>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
              <input name="password" type="password" class="form-control" tabindex="2" required>
            </div>

            <!-- label class="remember">
                <input type="checkbox" value="remember-me">
                Remember me
            </label -->
            <button tabindex="4" class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in</button>
            <input type="hidden" name="next" value="{{ next }}" />
            </form>
            {% if config.REQUEST_EMAIL %}
            <a href="#" class="request">Request an account</a>
            {% endif %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
