{% extends "aristotle_mdr/user/userHome.html" %}
{% load inplace_edit %}

{% block collapse-link%}
    <i class="fa fa-users fa-fw"></i> Registry Administrator tools</a>
{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='adminTools' %}
{% endblock %}

{% block page %}
<h1>{% block title %}Registry Administrator tools{% endblock %}</h1>
<aside>
<section id="members">
</section>
</aside>
<header>This is a selection of quick links that allow registry administrators to quickly perform actions.</header>

<ul>
    <li>
        <a href="{% url 'admin:aristotle_mdr_workgroup_add'%}">Add Workgroup</a>
    </li>
    <li>
        <a href="{% url 'admin:aristotle_mdr_registrationauthority_add'%}">Add Registration Authority</a>
    </li>
    <li>
        <a href="{% url 'admin:auth_user_add'%}">Add User</a>
    </li>
</ul>
<ul>
    <li>
        <a href="{% url 'admin:aristotle_mdr_workgroup_changelist'%}">View all Workgroups</a>
    </li>
    <li>
        <a href="{% url 'admin:aristotle_mdr_registrationauthority_changelist'%}">View all Registration Authorities</a>
    </li>
    <li>
        <a href="{% url 'admin:auth_user_changelist'%}">View all Users</a>
    </li>
</ul>

{% endblock %}
