{% extends "aristotle_mdr/user/userHome.html" %}

{% block title %}Edit details{% endblock %}
{% block collapse-link%}<i class="fa fa-user fa-fw"></i> Edit my account details</a>{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='edit' %}
{% endblock %}

{% block page %}
    <h1>Edit my account details</h1>
    <form method="post">{% csrf_token %}
    {% if saved %}
    <div class="message info">
    </div>
    {% endif %}
    {{ form.as_p }}

    <div class="modal-footer">
        <a class="btn btn-default" href="{% url 'aristotle:userHome' %}"><i class="fa fa-times fa-fw"></i>Cancel</a>
        <button type="submit" class="btn btn-primary" value="Save changes"><i class="fa fa-check  fa-fw"></i> Save changes</button>
    </div>
</form>

{% endblock %}
