{% extends "aristotle_mdr/base.html" %}
{% load i18n %}

{% block title %}
Create Data Element Concept - Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h1>Create Data Element Concept - <em>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</em></h1>
<aside class="creationTips">
    {% block creationTips %}{% endblock %}
</aside>
<form action="" method="post">{% csrf_token %}
   {{ wizard.management_form }}
    {% block formarea %}
       {{ wizard.management_form }}
    {% endblock %}
    {% if wizard.steps.prev %}
        <!-- button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button -->
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
    {% endif %}
        <input type="submit" value="{% trans "submit" %}"/>
</form>
{% endblock %}

