{% extends "aristotle_mdr/create/dec_template_wrapper.html" %}

{% block creationTips %}
<header>The key to good metadata is reuse.</header>

<p>
Enter a name and short description for the what you would like to create, and
Aristotle will do a quick search to see if similar objects exist to reuse.

<p>
If no items with similar terms exist, your search terms will be used to
pre-populate any new items you create.

{% endblock %}

{% block formarea %}
<fieldset class="wizard">
<legend>What things are you collecting infomation about?
</legend>
What would be the <em>name</em> of this type of object?<br>
{{ form.oc_name }}<br>
Add a brief description of what you are looking for (optional):<br>
{{ form.oc_desc }}
</fieldset>

<fieldset class="wizard">
<legend>What data to you want to find out about these objects?
</legend>
What would be the <em>name</em> of the property you are measuring?<br>
{{ form.pr_name }}<br>
Add a brief description of what you are looking for (optional):<br>
{{ form.pr_desc }}
</fieldset>
{% endblock %}
