{% extends 'aristotle_mdr/base.html' %}

{% block title %}About {{ config.SITE_NAME }}{% endblock %}

{% block content %}
<header class="row">
    <h1 id="objectTitle"  class="pull-left">
        <i class="fa fa fa-university "></i>
        <a href="#">About <em>{{ config.SITE_NAME }}</em></a>
    </h1>
    <img src="{{ config.SITE_BRAND }}" alt="" title="" class="pull-right">
</header>
<section class="row">
{# { config.SITE_DESCRIPTION |linebreaks } #}
<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
<p>Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
</section>
{% endblock %}
