<!doctype html>
<html lang="en">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load inplace_edit staticfiles i18n bootstrap3 compile_static %}
      <title>{% block title %}{% endblock %} - {{ config.SITE_NAME }}</title>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>

    <![endif]-->
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    {{ form.media }}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.less' %}" />
    <script src="{% static 'aristotle_mdr/aristotle.js' %}" type="text/javascript"></script>

    {% block extra_head_scripts %}
        {% comment %}
            Only for scripts that need to be inserted for other special templates
            For example: look ups in supersedes, login, search, etc...
        {% endcomment %}
    {% endblock %}

<script src="/static/js/jquery.json.js" type="text/javascript"></script>
{% if user_can_edit %}
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.inplaceedit.less' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.autocomplete.less' %}" />
    <script src="{% static 'aristotle_mdr/aristotle.inplaceedit.js' %}" type="text/javascript"></script>
    <![endif]-->

    {# This block is copied from django-inplaceedit with minor tweaks #}
    <script type="text/javascript" src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="/static/js/jquery.inplaceeditform.js" type="text/javascript"></script>
    <script src="/static/js/jquery.inplaceeditform.hooks.js" type="text/javascript"></script>

        <script type="text/javascript">
            var isIE = function () {
                if(typeof jQuery!== typeof undefined && jQuery.browser === undefined){
                    jQuery.browser = { msie : true};
            }};
        </script>
        <!--[if IE]>
            <script type="text/javascript">
                isIE(); /* IE <= 9*/
            </script>
        <![endif]-->
        <!--[if !IE]><!-->
            <script>
                if (/*@cc_on!@*/false) {
                    isIE(); /* IE 10*/
                }
            </script>
        <!--<![endif]-->
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token }}"; {# This is populated by django and needed for the inplace edit #}
        </script>
{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'aristotle_mdr/aristotle.ie8.css' %}" />
    <![endif]-->

   </head>

   <body>
   {% include 'aristotle_mdr/header.html' %}
   <div id='content' class="container">
        {% if messages %}
        <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
    <div class="container">
    <div>
        <a href="{% url 'aristotle:accessibility' %}">Accessibility</a>
        <a href="{% url 'aristotle:copyright' %}">Copyright</a>
        <a href="{% url 'aristotle:disclaimer' %}">Disclaimer</a>
        <a href="{% url 'aristotle:privacy' %}">Privacy</a>
    </div>
    <div>
        <a href="{% url 'aristotle:contact' %}">Contact</a>
        <a href="{% url 'aristotle:helpMain' %}">Help</a>
        <a href="#">Sitemap</a>
    </div>
    {# Removing or altering the following line may breach your licence #}
    {# If you extend this file make sure the following link is retained in your footer #}
    <span id="credit">
        Powered by the <a href="https://github.com/LegoStormtroopr/aristotle-metadata-registry">Aristotle MetaData Registry</a>
    </span>
    </div>
    </footer>
   </body>
</html>

