{% load i18n %}
{% load bootstrap3 %}

<a class="sr-only" accesskey="j" href="#content">Skip to content</a>
<a class="sr-only" accesskey="l" href="{% url 'aristotle:accessibility' %}#accesskeys">Learn about the access keys available for {{ config.SITE_NAME }}</a>
<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'aristotle:home' %}" id="logo">
        <img height="48px" src="{{ config.SITE_BRAND }}" alt="{{ config.SITE_NAME }}" title="{{ config.SITE_NAME }}">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% block search %}
            {% comment %}
            The search block is defined to allow some pages
            (SPECIFICALLY the home page) to override or hide the search bar
            DO NOT OVERRIDE THIS UNLESS YOU ARE CERTAIN OF WHAT YOU ARE DOING!
            {% endcomment %}
            <form id="quickSearch" action="/search" method="get"
            class="navbar-form navbar-left" role="search">
                <label style="display:none;" for="searchText">Search:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="searchText" name="q" accesskey="q"></input>
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" title="Search">
                        {% bootstrap_icon "search" %}&nbsp;
                    </button>
                </div>
            </form>
        {% endblock %}

        <ul class="nav navbar-nav navbar-right">
        {% if user.is_active %}
            <li class="dropdown">
                <a href="{% url 'aristotle:createList' %}" accesskey="o" class="dropdown-toggle" data-toggle="dropdown" title="Open create menu">
                        <i class="fa fa-angle-down fa-lg"></i>
                Create
                </a>
                <ul class="dropdown-menu" role="menu" >
                    <li><a href="{% url 'admin:aristotle_mdr_objectclass_add' %}">Object Class</a></li>
                    <li><a href="{% url 'admin:aristotle_mdr_property_add' %}">Property</a></li>
                    <li><a href="{% url 'admin:aristotle_mdr_valuedomain_add' %}">Value Domain</a></li>

                    <li><a href="{% url 'admin:aristotle_mdr_dataelementconcept_add' %}">Data Element Concept</a></li>
                    <li><a href="{% url 'admin:aristotle_mdr_dataelement_add' %}">Data Element</a></li>
                    {% comment %}
                    {# Pulling the wizard-based creation tools until a later release #}
                    <li><a href="{% url 'aristotle:createObjectClass'%}">Object Class</a></li>
                    <li><a href="{% url 'aristotle:createProperty'%}">Property</a></li>
                    <li><a href="{% url 'aristotle:createValueDomain'%}">Value Domain</a></li>
                    <li><a href="{% url 'aristotle:createDataElementConcept'%}">Data Element Concept</a></li>
                    <li><a href="{% url 'aristotle:createDataElement'%}">Data Element</a></li>
                    {# <li><a href="{% url 'aristotle:createDataElement'%}"></a></li> #}
                    {% endcomment %}

                    {% if request.user.is_superuser %}
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header"><i class="fa fa-user-md fa-2x fa-fw"></i> Admin only</li>
                        <li>
                            <a href="{% url 'admin:aristotle_mdr_workgroup_add'%}">Workgroup</a>
                        </li>
                        <li>
                            <a href="{% url 'admin:aristotle_mdr_registrationauthority_add'%}">Registration Authority</a>
                        </li>
                    {% endif %}
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a href="{% url 'aristotle:createList'%}">See all...</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{% url 'aristotle:userHome' %}" accesskey="u" class="dropdown-toggle" role="menu" data-toggle="dropdown" title="Open user menu">
                    {% if user.is_superuser %}
                        <i class="fa fa-user-md fa-lg"></i>
                    {% else %}
                        <i class="fa fa-user fa-lg"></i>
                    {% endif %}
                    {% firstof user.get_short_name user.get_username %}
                    {% if user.is_active %}
                        {% if user.notifications.unread %}
                        <i class="fa fa-envelope fa-fw" title="New notifications"></i>
                        {% else %}
                        <i class="fa fa-envelope-o fa-fw" title="No unread notifications"></i>
                        {% endif %}
                    {% endif %}
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'aristotle:userHome' %}">
                        <i class="fa fa-home fa-fw"></i> {% trans 'My Dashboard'%}
                    </a></li>
                    <li><a href="{% url 'aristotle:userFavourites' %}">
                        <i class="fa fa-bookmark fa-fw"></i> {% trans 'My Favourites'%}
                        <span class="badge pull-right">{{ user.profile.favourites.count }}</span>
                    </a></li>
                    <li><a href="{% url 'aristotle:userInbox' %}">
                        <i class="fa fa-envelope fa-fw"></i> {% trans 'Notifications'%}
                        {% with notecount=user.notifications.unread.count %}
                        <span class="badge pull-right" title="{{ notecount }} unread notifications">{{ notecount }}</span>
                        {% endwith %}
                    </a></li>
                    <li><a href="{% url 'aristotle:discussions' %}">
                        <i class="fa fa-comments fa-fw"></i> {% trans 'Discussions'%}
                    </a></li>
                    <li><a href="{% url 'aristotle:userWorkgroups' %}">
                        <i class="fa fa-users fa-fw"></i> Workgroups
                    </a></li>
                    {% if user.has_usable_password %}
                        <li><a href="{% url 'admin:password_change' %}">
                        <i class="fa fa-cog fa-fw"></i> {% trans 'Change password' %}
                        </a></li>
                    {% endif %}
                    {% if user.profile.is_registrar %}
                        <li role="presentation" class="divider"></li>
                        <li><a href="{% url 'aristotle:userRegistrarTools' %}">
                        <i class="fa fa-university fa-fw"></i> {% trans 'Registrar tools' %}
                        </a></li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li role="presentation" class="divider"></li>
                        <li><a href="{% url 'admin:index' %}">
                        <i class="fa fa-sliders fa-fw"></i> {% trans 'Management interface' %}
                    {% endif %}
                    {% if request.user.is_superuser %}
                        </a></li>
                        <li><a href="{% url 'aristotle:userAdminTools' %}">
                        <i class="fa fa-user-md fa-fw"></i> {% trans 'Admin tools' %}
                        </a></li>
                    {% endif %}
                    <li role="presentation" class="divider"></li>
                    <li>
                        <a href="{% url 'django.contrib.auth.views.logout' %}?next={{request.path}}">
                            <i class="fa fa-sign-out fa-fw"></i> {% trans 'Log out'%}
                        </a>
                    </li>
                    <!-- li><a href="/item/"></a></li -->
                </ul>
            </li>
        {% else %}
            <li accesskey="l">
            <a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">
                <i class="fa fa-sign-in fa-lg"></i>  {% trans 'Log in'%}
            </a>
            </li>
        {% endif %}
        </ul>
    </div>
</div>
</nav>