{% extends "aristotle_mdr/unmanagedContent.html" %}

{% block title %}{{ item.name }} {% endblock %}

{% block objSpecific %}

{% if item.standardPackages %}
    <h2>Packages standardised by this registration authority</h2>
    <ul>
        {% for p,s in item.standardPackages %}
        <li>
            {% include "aristotle_mdr/helpers/itemLink.html" with item=p %}
            Standardised on {{ s.registrationDate }}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
    <strong>
        This registration authority has no current standard packages
    </strong>
    </p>
{% endif %}

{% endblock %}

