{% extends 'aristotle_mdr/base.html' %}
{% load aristotle_tags %}
{% block title %}Registration History of {{ item.name }}{% endblock %}

{% block content %}
<h1>
    Registration History of
    <a href="{% url 'aristotle:item' item.id %}">{{ item.name }}</a>
    ({{ item.get_verbose_name }})
</h1>
<ol class="breadcrumb">
    <li><a href="{% url 'aristotle:item' item.id %}">{{ item.name }}</a></li>
    <li><a href="#">Registration History</a></li>
</ol>
{% if history %}
    {% for stat, action_list in history %}
    <div>
        <h2>History for <em>{{ stat.registrationAuthority }}</em> authority</h2>
        <table class="table">
        <thead>
            <th>Date</th>
            <th>State</th>
            <th>RA meaning</th>
            {# <th>In dictionary</th> #}
            <th>Comments</th>
            <th>Who</th>
        </thead>
        <tbody>
        {% for action in action_list %}
            <tr>
                <td>{{ action.field_dict.registrationDate }}</td>
                <td>{{ action.field_dict.state|stateToText }}</td>
                <td>{{ action.field_dict.meaning }}</td>
                {# <td>{{ action.field_dict.inDictionary }}</td> #}
                <td>{{ action.field_dict.changeDetails }}</td>
                <td>
                {% with huser=action.revision.user %}
                    {% if huser.first_name or huser.last_name %}
                        {{ huser.first_name }}{{ huser.last_name }}
                    {% else %}
                        {{ huser.username }}
                    {% endif %}
                {% endwith %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% endfor %}
{% else %}
    <strong>This item has not yet been registred by any authority.</strong>
{% endif %}
{% endblock %}
