{% load i18n %}
{% if infoBox %}<dt class="large">{% endif %}
<span>{% trans 'Registration status' %}</span>
{% if user.profile.is_registrar %}
    <a class="inline_action" href="{% url 'aristotle:changeStatus' item.id %}"
        data-toggle="modal" data-target="#statusChange">Change</a>
    <div id="statusChange" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endif %}
{% if infoBox %}</dt><dd class="large">{% else %}:{% endif %}
<ul>
    {% if statuses and item %}
    <li class="viewHistory"><strong><a href="{% url 'aristotle:registrationHistory' item.id %}">{% trans 'View registration history'%}</a></strong></li>
    {% endif %}
    {% for status in statuses.all %}
    <li>
        <a href="{% url 'aristotle:registrationAuthority' status.registrationAuthority.id %}">{{ status.registrationAuthority }}</a>
        : {% trans status.state_name %} on {{ status.registrationDate }}
        </li>
    {% empty %}
        <li><em>{% trans 'Not registered' %}</em>
        </li>
    {% endfor %}
</ul>
{% if infoBox %}</dd>{% endif %}