{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load inplace_edit %}
{% load aristotle_tags %}

{% block objSpecific %}
{% with deCount=item.dataelement_set.count %}
<h2>Components</h2>
<div>
{% if view == "technical" %}
    <dl>
        <dt>Object Class - {% include "aristotle_mdr/helpers/itemLink.html" with item=item.objectClass %}</dt>
        <dd>{% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.objectClass name=False %}</dd>
        <dt>Property - {% include "aristotle_mdr/helpers/itemLink.html" with item=item.property %}</dt>
        <dd>{% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.property name=False %}</dd>
    </dl>
{% else %}
<section class="makeup">
    <header class="panel panel-info" style="width:80%;">
        <div class="panel-heading">Data Element</div>
        <div class="panel-body">
            <a class="name" href="#dataelements">Implemented in {{ deCount }} data element{{ deCount|pluralize }}</a>
        </div>
    </header>
    <ul class="split">
        <li style="width:60%;">
            <header class="panel panel-primary">
                <div class="panel-heading arrow">Data Element Concept <small>(this item)</small></div>
                <span class="panel-body name">
                    <a class="name" href="#">{{ item.name }}</a>
                </span>
            </header>
            <ul class="split">
                <li class="panel panel-info" >
                    <div class="panel-heading arrow">Object Class</div>
                    <span class="panel-body name">
                        {% include "aristotle_mdr/helpers/itemLink.html" with item=item.objectClass %}
                    </span>
                </li>
                <li class="panel panel-info" >
                    <div class="panel-heading arrow">Property</div>
                    <span class="panel-body name">
                        {% include "aristotle_mdr/helpers/itemLink.html" with item=item.property %}
                    </span>
                </li>
            </ul>
        </li>
        <li style="width:40%;">
            <header class="panel panel-default arrow-left">
            <div class="panel-heading">Conceptual Domain</div>
            <span class="panel-body name">{% include "aristotle_mdr/helpers/itemLink.html" with item=item.valueDomain %}</span>
            </header>
        </li>
    </ul>
</section>
{% endif %}

    <h2 >Relational attributes</h2>
    {% if item.dataelement_set.all %}
        <h3 id="dataelements">Data Elements implementing this Data Element Concept</h3>
        <ul>
        {% for de in item.dataelement_set.all %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=de %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endwith %}
{% endblock %}
