{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load aristotle_tags %}

{% block objSpecific %}
{% endblock %}

{% block relationships %}
    {% if item.valuedomain_set.all %}
        <h3>Value Domains using this Data Type</h3>
        <ul>
        {% for vd in item.valuedomain_set.all|can_view_iter:request.user %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=vd %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
