{% extends 'aristotle_mdr/base.html' %}
{% load humanize %}
{% load inplace_edit compile_static %}
{% load aristotle_tags %}

{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.visuals.less' %}" />
{% endblock %}

{% block title %}
    {{ item.name }}
    {% if item.version %}
        - v{{ item.version }}
    {% endif %}
    ({{ item.get_verbose_name }})
{% endblock %}
{% block content %}
<header class="row">
    <h1 id="objectTitle"  class="pull-left">
        {% if user.is_authenticated %}
        <a href="{% url 'aristotle:toggleFavourite' item.id %}"
            title="{% ternary isFavourite 'Remove from my favourite items' 'Add to my favourite items' %}"
            id="favourite">
            {% if isFavourite %}
                <i class="fa fa-bookmark "></i>
            {% else %}
                <i class="fa fa-bookmark-o "></i>
            {% endif %}
        </a>
        {% endif %}
        <a href="#">{% inplace_edit 'item.name' %}</a>
        {% if item.version %}
        <em class="version" title="Version {{ item.version }}">
            {% inplace_edit 'item.version' %}
        </em>
        {% endif %}
        <small>({{ item.get_verbose_name }})</small>
        {% if item|can_edit:request.user %}
        <a class="sr-only" accesskey="p" href="{% adminEdit item %}">
            <i class="fa fa-sliders"></i> Admin editor
        </a>
        {% endif %}
    </h1>
    <div class="btn-group pull-right">
        {% if user_can_edit %}
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Edit menu <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a id="ActivateInplaceEdit" class=""></a></li>
                <li><a class="" href="{% adminEdit item %}">
                    <i class="fa fa-sliders"></i> Advanced editor
                </a></li>

                <li class="divider"></li>
                <li><a class="" href="{% clone item %}">
                    <i class="fa fa-code-fork"></i> Clone this item
                </a></li>
              </ul>
            </div>
        {% endif %}
        {% if view == "technical" %}
            <a href="?view=simple" id="viewChange" class="btn btn-default"><i class="fa fa-minus-square"></i> Simple View</a>
        {% else %}
            <a href="?view=technical" id="viewChange" class="btn btn-default"><i class="fa fa-graduation-cap"></i> Technical View</a>
        {% endif %}
        <div class="btn-group">
            <button accesskey="d" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-download"></i> Download <span class="caret"></span>
            </button>
            {% downloadMenu item %}
        </div>
    </div>
</header>
<section class="managed row">
    {% include "aristotle_mdr/concepts/infobox.html" %}
    {% if item.is_superseded  %}
        <div id="progress" class=" alert alert-info">
            This item has been superseded by the newer version,
            <em>{% include "aristotle_mdr/helpers/itemLink.html" with item=item.superseded_by %}</em>.
        </div>
    {% elif item.is_retired %}
        <div id="progress" class=" alert alert-warning">
            This item has been retired and is not recommended for use by any
            registration authority.
        </div>
    {% elif item.is_public %}
        {# split the if condition as if its public and not technical, we want nothing not one of the lower alerts #}
        <div id="progress" class='alert alert-success hidden'>
            This item is currently public.
        </div>
    {% elif item.is_locked %}
        <div id="progress" class=" alert alert-info">
            This item is currently under development.
        </div>
    {% else %}
        <div id="progress" class=" alert alert-warning">
            This item is under review and active development. Content may change frequently.
        </div>
    {% endif %}
    {% if not item.is_registered %}
    <div id="review" class=" alert alert-info">
        <strong>{% if item.readyToReview %}
        This item has been marked as ready to review, but has not yet been registered in an authority.
        {% else %}
        The visibility of this item is still restricted to your current workgroup.
        {% endif %}</strong><br>

        <p>You can control the visibility of this item by indicating its review status.
        If an item is marked "ready for review", registrars will be able to see this
        item and begin the standardisation process according to their registration authority.

        <p><label>Is this item {% ternary item.readyToReview "still" "" %} ready for review?</label>
        {% inplace_edit 'item.readyToReview' adaptor='booleanYesNo' %}
    </div>
    {% endif %}
    <dl id="alternate_names" class="hidden-xs">
        {% if item.shortName %}
        <dt>Short name</dt><dd>{% inplace_edit 'item.shortName' %}</dd>
        {% endif %}
        {% if item.version %}
        <dt class="visible-xs">Version</dt><dd class="visible-xs">{{ item.version }}</dd>
        {% endif %}
        {% if item.synonyms %}
        <dt>Synonyms</dt><dd>{% inplace_edit 'item.synonyms' %}</dd>
        {% endif %}
    </dl>
    <div id="description" class="description">
        <h2>Definition</h2>
        {% inplace_edit 'item.description' adaptor='aristotle' %}
    </div>
    {% block objSpecific %}
    {% endblock %}
    {% if item.references or view == "technical" %}
    <div>
    <h2>References</h2>
        {% inplace_edit 'item.references' adaptor='aristotle' %}
    </div>
    {% endif %}
    <h2>Relationships</h2>
        {% block relationships %}{% endblock %}
        {% for extension in config.CONTENT_EXTENSIONS %}
            {% extra_content extension item request.user %}
        {% endfor %}
    </div>
</div>

</section>
{% endblock %}
