{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load inplace_edit %}
{% load aristotle_tags %}

{% block type %}objectclass{% endblock %}
{% block includes %}
    <dd>
        {% with total=item.dataelementconcept_set.count %}
        {% if total > 10 %}<a href="{{ request.path }}/related">{% endif %}
        {{ total }} Data Element Concept{{ total|pluralize }}
        {% if total > 10 %}</a>{% endif %}
        {% endwith %}
    </dd>
{% endblock %}

{% block objSpecific %}

{% with total=item.dataelementconcept_set.count %}
    {% if total > 0 %}
    <h2>Relational attributes</h2>
        <h3>Data Element Concepts implementing this Object Class</h3>
        <ul>
        {% for dec in item.dataelementconcept_set.all|can_view_iter:user %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=dec %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}
