{% comment %}
This is reused when displaying Data Elements, but we want to minimise the
amount of information around the Value Domain
So we've split this out into its own template.
{% endcomment %}

{% load aristotle_tags %}
{% load inplace_edit %}

<div>
<table class="table table-striped valueDomainRepresentation">
{% if item.dataType %}
<tr>
  <th>Data Type</th>
  <td><a href="{% url 'aristotle:dataType' item.dataType.id %}">{% inplace_edit 'item.dataType' %}</a></dd>
</tr>
{% endif %}
{% if item.unitOfMeasure %}
<tr>
  <th>Unit Of Measure</th>
  <td><a href="{% url 'aristotle:unitOfMeasure' item.unitOfMeasure.id %}">
    {% inplace_edit 'item.unitOfMeasure' %}
    {% if item.unitOfMeasure.symbol %}<tt>({{ item.unitOfMeasure.symbol }})</tt>{% endif %}
  </td>
</tr>
{% endif %}
{% if item.format %}
<tr>
  <th>Format</th>
  <td>{% inplace_edit 'item.format' %}</td>
</tr>
{% endif %}
{% if item.maximumLength %}
<tr>
  <th>Maximum character length</th>
  <td>{% inplace_edit 'item.maximumLength' %}</td>
</tr>
{% endif %}
</table>
</div>
{% if item.permissibleValues.count > 0 %}
  <strong>Permissible Values</strong>
    <table class="codeList table table-striped">
        <thead>
            <tr>
                <td></td>
                <th>Value</th><th>Meaning</th>
            </tr>
        </thead>
        {% if item.permissibleValues.count > 0 %}
        <tbody>
            {% for perm in item.permissibleValues.all %}
                <tr>
                    {% if forloop.first %}
                    <th rowspan="{{ item.permissibleValues.count }}">Permissable Values
                        {% if user_can_edit %}
                            <a class="inline_action" href="{% adminEdit item %}#permissibleValues-group">edit</a>
                        {% endif %}
                    </th>
                    {% endif %}
                    {% if allowEditing %}
                        <td>{% inplace_edit 'perm.value' %}</td>
                        <td>{% inplace_edit 'perm.meaning' %}</td>
                    {% else %}
                        <td>{{ perm.value }}</td>
                        <td>{{ perm.meaning }}</td>
                    {% endif%}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
        {% if item.supplementaryValues.count > 0 %}
        <tbody>
            {% for perm in item.supplementaryValues.all %}
                <tr>
                    {% if forloop.first %}
                    <th rowspan="{{ item.supplementaryValues.count }}">Supplementary Values
                        {% if user_can_edit %}
                            <a class="inline_action" href="{% adminEdit item %}#supplementaryValues-group">edit</a>
                        {% endif %}
                    </th>
                    {% endif %}
                    {% if allowEditing %}
                        <td>{% inplace_edit 'perm.value' %}</td>
                        <td>{% inplace_edit 'perm.meaning' %}</td>
                    {% else %}
                        <td>{{ perm.value }}</td>
                        <td>{{ perm.meaning }}</td>
                    {% endif%}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
{% endif %}
