{% extends "aristotle_mdr/user/userHome.html" %}
{% load notifications_tags %}

{% block collapse-link%}
    <i class="fa fa-envelope fa-fw"></i> Notifications</a>
{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with inboxFolder=folder %}
{% endblock %}

{% block page %}
<h1>{% block title %}Notifications{% endblock %}</h1>
<aside>
<section id="members">
</section>
</aside>

<a class="btn btn-default" href="{% url 'notifications:mark_all_as_read' %}"><i class="fa fa-envelope-o"></i> Mark all as read</a>

<h1>{{ folder }}</h1>
<table class="notifications table">
  <thead>
      <tr>
        <th></th>
        <th>Notice</th>
        <th>Time since</th>
        <th>Delete</th>
      </tr>
  </thead>
  <tbody>
  {% for notice in notifications %}
    <tr>
        <td>
            {% if notice.unread %}
            <a title="Mark as read" href="{% url 'notifications:mark_as_read' notice.slug %}">
                <i class="fa fa-envelope"></i>
                <span class="sr-only">Unread message</span>
            </a>
            {% else %}
            <a title="Mark as unread" href="{% url 'notifications:mark_as_unread' notice.slug %}">
                <i class="fa fa-envelope-o"></i>
                <span class="sr-only">Read message</span>
            </a>
            {% endif %}
        </td>
        <td>
            {{ notice.actor }}
            {{ notice.verb }}
            {% if notice.target %} :
                {% if 'item' in notice.verb %}
                    <a href="{% url 'aristotle:item' notice.target.id }}">{{ notice.target.name }}</a>
                {% elif 'comment' in notice.verb %}
                    <a href="{% url 'aristotle:discussionsPost' notice.target.id }}">{{ notice.target.title }}</a>
                {% endif %}
            {% endif %}
            {% if notice.description %}
            <p>{{ notice.description|linebreaksbr }}</p>
            {% endif %}
        </td>
        <td>{{ notice.timesince }} ago</td>
        <td>
            <a href="{% url 'notifications:delete' slug=notice.slug %}?next={{ request.path }}">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% if notifications.count == 0 and folder == 'unread' %}
<div  class="text-center well well-lg">
    <p><i class="fa fa-inbox fa-3x"></i></p>
    <p><strong>You have no unread notifications.</strong></p>
    <p>Good job!</p>
</div>
{% elif notifications.count == 0 %}
<div class="text-center well well-lg">
    <p><i class="fa fa-inbox fa-3x"></i></p>
    <p><strong>You have no notifications.</strong></p>
</div>
{% endif %}

{% endblock %}
