{% extends "aristotle_mdr/user/userHome.html" %}
{% load aristotle_tags %}

{% block title %}My Favourites{% endblock %}
{% block collapse-link%}<i class="fa fa-bookmark fa-fw"></i> My Favourites</a>{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='favourites' %}
{% endblock %}

{% block page %}
    <h1><a href="#"><i class="fa fa-bookmark fa-fw"></i> My Favourites</a></h1>
    <div>
    <p>
        Below is a list of all your favourited items, you will recieve notifications
        when any of these items are edit, if their registration status changes or if they are made public.
    </p>
    <p>
        Use your favourites list to keep track of important items to know when they change.
    </p>
        {% if page %}
            <strong><a href="?help=help">Get help on using your favourites list</a></strong>
            {% include "aristotle_mdr/helpers/paginated_list.html" with page=page %}
        {% else %}
            <h3>You currently have no favourited items.</h3>
        {% endif %}
        {% if user.profile.favourites.count = 0 or help %}
            <hr>
             <h3 id="using">Using your favourites list.</h3>
            <p>
                You can favourite many items within the registry, when you are logged
                in items you can follow will have an open bookmark symbol next to them -
                 <i style="color:goldenrod" class="fa fa-bookmark-o "></i>.
            </p>
            <p>
                Clicking this bookmark will add the item to your favourites list,
                and will toggle the icon.
                Any items that you are following in your favourites list will have
                a filled in bookmark icon by their name
                 - <i style="color:goldenrod" class="fa fa-bookmark "></i>.
            </p>
            <p>
                <strong>Try favouriting the item below to see it in action.</strong>
            </p>
            <div class="well">
            <h1 id="objectTitle">
                {% if user.is_authenticated %}
                <a href="?help=help{% ternary favourite '' '&favourite=true' %}#using"
                    title="Test out favouriting an item"
                    id="favourite" style="margin-left:15px">
                    {% if favourite %}
                        <i class="fa fa-bookmark "></i>
                    {% else %}
                        <i class="fa fa-bookmark-o "></i>
                    {% endif %}
                </a>
                {% endif %}
                <a >Example item</a>
                <small>(sample item type)</small>
            </h1>
            </div>
            {% if favourite %}
                <p>
                    <strong>Congratulations!</strong>
                    If this was a real item you would
                    get notifications when ever this item changed.
                </p>
                <p>
                    If you click the bookmark icon again the item would be removed
                    from your favourites and the notifications would stop.
                </p>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}
