{% load i18n %}

<ul class="nav nav-pills nav-stacked nav-collapse dashMenu">
    <li {% ifequal activeTab "home" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userHome' %}">
        <i class="fa fa-home fa-fw"></i> My Dashboard</a></li>
    <li {% ifequal inboxFolder "unread" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userInbox' %}">
        <i class="fa fa-envelope fa-fw"></i> Notifications
        {% with notecount=user.notifications.unread.count %}
            <span class="badge pull-right" title="{{ notecount }} unread notifications">{{ notecount }}</span>
        {% endwith %}
        </a>
        {% if inboxFolder %}
        <ul class="nav nav-pills nav-stacked nav-collapse dashSubMenu">
            <li {% if inboxFolder == "all" %}class="active"{% endif %}>
                <a href="{% url 'aristotle:userInbox' 'all' %}">
                    <i class="fa fa-envelope-o fa-fw"></i> {% trans 'All messages' %}
                </a>
            </li>
        </ul>
        {% endif %}
    </li>
    {% if request.user.is_superuser %}
    <li {% ifequal activeTab "adminTools" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userAdminTools' %}">
        <i class="fa fa-user-md fa-fw"></i> Super user tools
        </a>
    </li>
    {% endif %}
    <li {% ifequal activeTab "edit" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userEdit' %}">
        <i class="fa fa-user fa-fw"></i> Edit details</a>
        {% ifequal activeTab "edit" %}
        <ul class="nav nav-pills nav-stacked nav-collapse dashSubMenu">
            <li><a href="{% url 'admin:password_change' %}">
                <i class="fa fa-cog fa-fw"></i> {% trans 'Change password' %}
            </a></li>
        </ul>
        {% endifequal %}
    <li {% ifequal activeTab "favourites" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userFavourites' %}">
        <i class="fa fa-bookmark fa-fw"></i> Favourites
        <span class="badge pull-right">{{ user.profile.favourites.count }}</span></a>
    </li>
    {% if request.user.profile.is_registrar %}
    <li {% ifequal activeTab "registrarTools" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userRegistrarTools' %}">
        <i class="fa fa-institution fa-fw"></i> Registrar tools
        </a>
        {% ifequal activeTab "registrarTools" %}
        <ul class="nav nav-pills nav-stacked nav-collapse dashSubMenu">
            <li><a href="{% url 'aristotle:userReadyForReview' %}">
                <i class="fa fa-cog fa-fw"></i> {% trans 'Review list' %}
            </a></li>
        </ul>
        {% endifequal %}
    </li>
    {% endif %}
    <li {% ifequal activeTab "workgroups" %}class="active"{% endifequal %}>
        <a href="{% url 'aristotle:userWorkgroups' %}">
        <i class="fa fa-users fa-fw"></i> Workgroups
        <span class="badge pull-right">{{ user.profile.myWorkgroups.count }}</span></a>
        {% if subWorkgroups %}
        <ul class="nav nav-pills nav-stacked nav-collapse dashSubMenu">
            {% for item in subWorkgroups %}
            <li>
                <a href="{% url 'aristotle:workgroup' item.id %}">{{ item }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if subWorkgroup %}
        <ul class="nav nav-pills nav-stacked nav-collapse dashSubMenu">
            <li class="active">
                <a href="{% url 'aristotle:workgroup' item.id %}">{{ item }}</a>
            </li>
        </ul>
        {% endif %}
    </li>
</ul>

