{% extends "aristotle_mdr/user/userHome.html" %}
{% load inplace_edit %}

{% block collapse-link %}
    <i class="fa fa-institution fa-fw"></i> Registrar tools </a>
{% endblock %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='registrarTools' %}
{% endblock %}

{% block page %}
<h1>{% block title %}Review list{% endblock %}</h1>
<p>
    The following items have been marked as "ready to review" by the editors in their workgroup,
    and are ready to begin the standarisation process.
</p>
{% if page %}
    <form action="{% url 'aristotle:bulk_action' %}?next={{ request.path }}" method="POST">
    {% include "aristotle_mdr/helpers/paginated_list.html" with page=page %}
    {% include "aristotle_mdr/helpers/list_action_bar.html" with wrap=True %}
    </form>
{% else %}
    <h3>You currently have no items to review.</h3>
{% endif %}
{% endblock %}