{% extends "aristotle_mdr/user/userHome.html" %}
{% load inplace_edit %}

{% block collapse-link%}
    <i class="fa fa-users fa-fw"></i> {{ workgroup.name }}</a>
{% endblock %}
{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='workgroups' %}
{% endblock %}

{% block page %}
<h1>{% block title %}My Workgroups{% endblock %}</h1>
<aside>
<section id="members">
Members {% if user_is_admin %}<a href="#" class="inline_action">Add</a>{% endif %}
    <ul>
        {% for member in workgroup.members.all %}
        <li>{{ member.user.first_name }} {{ member.user.last_name }}</li>
        {% endfor %}
    </ul>
</section>
<section id="items">
<header>Recently changed items</header>
    <ul>
        {% for item in recent %}
        <li>{% include "aristotle_mdr/helpers/itemLink.html" with item=item %} ({{ item.url_name }})</li>
        {% endfor %}
    </ul>
</section>
</aside>
<header>Details</header>
<dl>
<dt>Managers</dt>
<dd>
{% for member in workgroup.managers %}
    {{ member.first_name }} {{ member.last_name }}
    {% if member.profile.is_registrar %}*{% endif %}
    {% if not forloop.last %},{% endif %}
{% endfor %}{% if user_is_admin %}<a href="#" class="inline_action">Add</a>{% endif %}
</dd>
<dt>Members</dt>
<dd>
<a href="{% url 'aristotle:workgroupMembers' wg.id %}">
    {% with total=workgroup.members.count %}
        {% comment %} Cache the count then reuse for performance.{% endcomment %}
        {{ total }} current member{{ total|pluralize }}
    {% endwith %}
</a>
</dd>
</dl>

<h2>Recent conversations</h2>
<a href="/forum?workgroup={{ wg.id }}">View all posts.</a>
<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Last comment</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
