*, * * {
    font-size:10pt !important;
}
h1 * {font-size:160% !important;}
h2, h2 * {font-size:150% !important;}
h3, h3 * {font-size:140% !important;}
h4, h4 * {font-size:130% !important;}

.description { width:65% !important;    word-wrap: break-word;}
.textareainplaceedit { display:inline;}
.description, .description p {
}

.makeup .header,
.makeup div.panel-heading,
.makeup div.panel-body, .makeup span.panel-body,
.makeup header.panel,
.makeup div
{
    text-align:left;
    padding:0;
    border:none !important;
    display:inline !important;
    background:transparent;
    color:black;
    height:auto;
    margin-bottom:0;
    clear:none !important;
}
.makeup .panel-body:after, .makeup .panel-body:before {
    clear:none  !important;
    content:none !important;
    display:none  !important;
    z-index:-999;
}
.makeup {width:55%;}
.makeup ul.split { margin-top:0; max-width:300px; !important }
.makeup li { border:none; }
.makeup li { margin-bottom:0; }

.fa {
    display:none !important;
}
