{% extends 'aristotle_mdr/base.html' %}
{% block title %}Packages using {{ item.name }} ({{ item.get_verbose_name }}){% endblock %}
{% block content %}
<ol class="breadcrumb">
    {% block breadcrumbs %}
        <li><a href="{% url 'aristotle:item' item.id %}">{{ item.name }}</a></li>
        <li><a href="#">Packages</a></li>
    {% endblock %}
</ol>

<section class="managed container">
    <div class="navbar">
        <h1 id="objectTitle">
            <a href="#">Packages that contain the item <em>{{ item.name }}</em></a>
            <span>({{ item.get_verbose_name }})</span>
        </h1>
        </div>
    The number of displayed items below, and the number of related items reported
    may differ based on your current permission levels.

    <ul class="packages">
        {% for package in packages %}
        <li>
            {% include "aristotle_mdr/helpers/inlineDetails.html" with item=package %}
        </li>
        {% endfor %}
    </ul>


    <div class="pagination">
        <span class="step-links">
            {% if packages.has_previous %}
                <a href="?page={{ packages.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ packages.number }} of {{ packages.paginator.num_pages }}.
            </span>

            {% if packages.has_next %}
                <a href="?page={{ packages.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

</section>
{% endblock %}
