{% extends 'aristotle_mdr/base.html' %}

{% load inplace_edit %}

{% block title %}{{ item.name }}{% endblock %}
{% block content %}
<section class="unmanaged row">
    <h1>
        <a href="#">{{ item.name }}</a>
        <span>({{ item.get_verbose_name }})</span>
    </h1>
<aside id="infobox-wrap" class="col-xs-12 col-sm-4 pull-right navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#infobox">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand visible-xs" style="float:none;">
        {% block collapse-link %}
        <i class="fa fa-info-circle fa-fw"></i>More details...
        {% endblock %}
      </a>
    </div>
    <div id="infobox" class="collapse navbar-collapse" >
    <header>{{ item.name }}</header>
    <dl>
        <dt>Type</dt><dd><a href="/about/11179#{{ item.url_name }}">{{ item.get_verbose_name }}</a></dd>
    </dl>
    <dl>
        <dt>Last updated</dt><dd><a href="{% url 'admin:aristotle_mdr_valuedomain_history' item.id %}">{{item.modified}}</a></dd>
        <dt>Created</dt><dd>{{item.created}}</dd>
    </dl>
{% block asideContent %}{% endblock %}
</aside>
<div class="description" id="description">
    <h2 class="sr-only">Description</h2>
    {{ item.description | safe }}
</div>
<div>
    {% block objSpecific %}
    {% endblock %}
</div>
</section>

{% endblock %}
