{% extends "aristotle_mdr/static/about_item_base.html" %}

{% block title %}About: Property{% endblock %}
{% block item_name %}Property{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'aristotle:about' 'property' %}">Property</a></li>
{% endblock %}

{% block iso_quote %}
a characteristic common to all members of an <a href='{% url "aristotle:about" template="objectclass" %}'>Object Class</a>
{% endblock %}

{% block description %}
<p>A property is a characteristic of an object class of interest. For example,
the object class Person can have characteristics such as <em>sex</em> and
<em>date of birth</em>.
These characteristics are referred to as properties.</p>

<p>The union of a specific property with a specific
<a href='{% url "aristotle:about" template="objectclass" %}'>object class</a>
creates a <a href='{% url "aristotle:about" template="dataelementconcept" %}'>data
element concept</a>. The above mentioned examples create the data element concepts
<em>Person—sex</em> and <em>Person—date of birth</em>.</p>


{% endblock %}