{% extends "aristotle_mdr/static/about_base.html" %}

{% block title %}About: Workgroups{% endblock %}
{% block item_name %}Workgroups{% endblock %}
{% block breadcrumbs %}
    <li><a href="About"></a></li>
    <li><a href="Workgroups"></a></li>
{% endblock %}

{% block description %}
<p><strong>A workgroup is an administrative collection of people working together to create a set of metadata for a specific purpose.</strong></p>

<p>Every item belongs to a workgroup, and this workgroup is used to determine the
<a href="{% url 'aristotle:help' template='how_does_content_become_visible' %}">permissions around when and to whom an item is visible.</a>
However, once an item is registered it become the property of the registry, rather than just the workgroup.
</p>

<p>Workgroups usually have one or more <a href="{% url 'aristotle:about' template='registration_authorities' %}">registration authorities</a>
associated with them, and the workgroup is presumed to be creating content on behalf of these registraion authorities.
If a workgroup has no registration authority associated with it registration of items is not possible and items
will be visible only to members of the workgroup and cannot be <a href="{% url 'aristotle:help' template='what_is_a_standard' %}">"standardised"</a>.
</p>

{% endblock %}
