{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load inplace_edit %}
{% load aristotle_tags %}

{% block asideContent %}
{% with total=item.items.count %}
    <dl>
    <dt>Number of Items</dt>
    <dd>{{ total }} item{{ total|pluralize }}</dd>
    </dl>
    {% endwith %}
{% endblock %}
{% block objSpecific %}
    {% if item.classedItems %}
        <h2>Items in the Package</h2>
        <ul>
        {% for i in item.classedItems|can_view_iter:request.user %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=i showType=True%}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
