{% extends 'aristotle_mdr/base.html' %}

{% block title %}Browsing Data Elements based on {{ dataElementConcept.name }}{% endblock %}
{% block content %}
<section class="unmanaged row">
    <h1>
        <a href="#">Browsing Data Elements based on {{ dataElementConcept.name }}</a>
    </h1>
<strong>About <em>{{ dataElementConcept.name }}</em></strong>
<div id="description">
    {{ dataElementConcept.description | safe }}
</div>
{% if items %}
<p>
    This is a complete list of all publically visible data element based on the data element concept <em>{{ dataElementConcept.name }}</em>.
    Click the name of any item below to go to the main page for an associated data element concept.
</p>
    <dl class='browse'>
    {% for i in items %}
        <dt>
            <a href="{% url 'aristotle:dataElement' iid=i.id %}">{{ i.name }}</a>
            <!-- small>(<a href="{% url 'aristotle:dataElement' iid=i.id %}">{{ i.name }}</a>)</small -->
        </dt>
        <dd>
            {{ i.description|truncatewords:20|striptags }}
        </dd>
    {% endfor %}
    </dl>
{% else %}
    <em>No Data Elements are based on this Data Element Concept.</em>
{% endif %}
</section>

{% endblock %}
