{% extends request.is_ajax|yesno:"aristotle_mdr/base_ajax.html,aristotle_mdr/base.html" %}

{% block title %}Add members to {{ item.name }}{% endblock %}
{% block content %}
<form method="post" action="{% url 'aristotle:addWorkgroupMembers' item.id %}">
{% csrf_token %}
<div class="modal-body">
    <header>This form allows you to give additional roles (and their permissions) to users.
    </header>
    <section>

    <div>
        {{ form.roles.errors }}
        {{ form.users.errors }}
        <div>
            {{ form.roles.label }}{{ form.roles }}
        </div>
        <div>
            {{ form.users.label }}
            {{ form.users }}
        </div>
    </div>


    {% block save %}
    {% endblock %}

    </section>
    </div>
    <div class="modal-footer">
        {% if request.is_ajax %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% else %}
            <a class="btn btn-default" href="{% url 'aristotle:workgroup' item.id %}">Cancel</a>
        {% endif %}
            <input type="submit" class="btn btn-primary" value="Add members" />
    </div>
</form>
{% include 'autocomplete_light/static.html' %}
{% endblock %}
