{% load i18n l10n %}
{% load static %}

<span class="autocomplete-item block" data-value="{{ choice.pk|unlocalize }}">
    <strong class="title">
    {{ choice }} <small>( id: {{ choice.id }} )</small>
    {% with choice.get_absolute_url as url %}
        {% if url %}
        <a href="{{ url }}" target="_blank" class="choice-" title="{% trans 'Open in a new window' %}">
            <i class="fa fa-external-link-square"></i>
        </a>
        {% endif %}
    {% endwith %}
    </strong>
    <div class="details">
    <small>Statuses:
    {% for s in choice.statuses.all %}
        [{{ s.registrationAuthority }}: {{ s.state_name }}]
    {% empty %}<strong>None</strong>
    {% endfor %}</small>
        <br>
        <p>
        {{ choice.description|truncatewords:20|striptags }}
        </p>
    </div>

    {% with choice.get_absolute_update_url  as url %}
        {% if url %}
        <a href="{{ url }}" target="_blank" class="choice-update">
            <img src="{% static 'admin/img/icon_changelink.gif' %}" />
        </a>
        {% endif %}
    {% endwith %}
</span>
