{% extends request.is_ajax|yesno:"aristotle_mdr/base_ajax.html,aristotle_mdr/base.html" %}

{% block title %}Change state for {{ item.name }}{% endblock %}
{% block content %}
<form method="post" action="{% url 'aristotle:changeStatus' item.id %}">{% csrf_token %}
<div class="modal-body">
<header>This form allows you to change the status of items in the registratation authorities you are a registrar.
</header>
<section>


{% if request.is_ajax %}
    If you need to alter the date use the <a href="{% url 'aristotle:changeStatus' item.id %}">advanced registration page</a>.
{% else %}
    <div id="changeStatusDate">
        <span>
            {{ form.registrationDate.label }}:
            {{ form.registrationDate.errors }}
        </span>
        <span>
            {{ form.registrationDate }}
        </span>
    </div>
{% endif %}
<div id="cascadeRegistration">
    <span>
        {{ form.cascadeRegistration.label }}:
        {{ form.cascadeRegistration.errors }}
    </span>
    <span>
        {{ form.cascadeRegistration }}
    </span>
</div>
<div id="changeStatus">
    <div>
        <span>
            {{ form.state.label }}
            {{ form.state.errors }}
        </span>
        <span>
            {{ form.registrationAuthorities.label }}
            {{ form.registrationAuthorities.errors }}
        </span>
    </div>
    <div>
        {{ form.state }}
        {{ form.registrationAuthorities }}
    </div>
</div>
{% block save %}
{% endblock %}

</section>
    <div class="modal-footer">
    {% if request.is_ajax %}
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    {% else %}
        <a class="btn btn-default" href="{% url 'aristotle:item' item.id %}">Cancel</a>
    {% endif %}
        <input type="submit" class="btn btn-primary" value="Update Status" />
    </div>
</form>
{% endblock %}
