{% extends "aristotle_mdr/pdf/managedContent.html" %}
{% load inplace_edit %}

{% block title %}{{ item.name }} ({{item.status}}){% endblock %}
{% block objSpecific %}

    <h2>Components</h2>
    <dl>
        <dt>Object Class:</dt>
        <dd>
            {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.objectClass %}
        </dd>
        <dt>Property:</dt>
        <dd>
            {% include "aristotle_mdr/helpers/inlineDetails.html" with item=item.property %}
        </dd>
    </dl>

    <h2>Relational attributes</h2>
    {% if item.dataelement_set.all %}
        <h3>Data Elements implementing this Data Element Concept</h3>
        <ul>
        {% for de in item.dataelement_set.all %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=de %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
