{% extends "aristotle_mdr/managedContent.html" %}
{% block title %}{{ item.name }} ({{item.status}}){% endblock %}
{% block objSpecific %}

    <h2>Relational attributes</h2>
    {% if item.dataelement_set.all %}
        <h3>Data Element Concepts implementing this Property</h3>
        <ul>
        {% for dec in item.dataelement_set.all %}
            <li>
                {% include "aristotle_mdr/helpers/inlineDetails.html" with item=dec %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
